<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <rabbit:connection-factory
        id="connectionFactory"
        addresses="localhost:32775"
        username="admin"
        password="admin"
        publisher-confirms="true"
        publisher-returns="true"
        virtual-host="/demo"
    />

    <rabbit:admin
        connection-factory="connectionFactory"
    />

    <rabbit:queue
        id="demoQueue"
        durable="true"
        auto-declare="false"
        exclusive="false"
        name="demoQueue"
    />

    <rabbit:direct-exchange
        id="demoExchange"
        name="demoExchange"
        auto-delete="false"
    >
        <rabbit:bindings>
            <rabbit:binding
                queue="demoQueue"
                key="demo_msg"
            />
        </rabbit:bindings>
    </rabbit:direct-exchange>

</beans>